<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738599167122-59o8d4uc7mq3fledo8qn0ft1ec5q412p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738599167122-59o8d4uc7mq3fledo8qn0ft1ec5q412p</string>
	<key>API_KEY</key>
	<string>AIzaSyC6rurqbtj8Wzn3y0-w9xg-ujUHnXoTKWI</string>
	<key>GCM_SENDER_ID</key>
	<string>738599167122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theWall.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-the-wall</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-the-wall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738599167122:ios:96a150f5a5591be31eb24b</string>
</dict>
</plist>